body {
  background-color: lightyellow;
}

/* navigation bar-------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #887393;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*----------------------------------------------*/
/*navigation bar */
p {
  text-align: justify;
}

center {
  color: palevioletred;
}

table {
  width: 75rem;
  border: 1px;
  color: solid black;
}

th {
  background-color: lightgoldenrodyellow;
}

img {
    display: inline-flex;
}